/*reset*/
html,
body,
header,
main,
footer,
section,
nav,
ul,
li,
a,
h1,
h2,
h3,
h4,
h5 {
   margin: 0;
   padding: 0;
}

* {
   box-sizing: border-box;
}

/*tirar os pontos nas listas*/
ul {
   list-style: none;
}

/* links*/
a {
   text-decoration: none;
   text-transform: uppercase;
}

img {
   max-width: 100%;
   display: block;
}

body {
   font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
   font-size: 16px;
   background: #111111;

}

h1 {
   font-size: 3rem;
   font-weight: bold;
}

h2 {
   font-size: 2.6rem;
   font-weight: bold;
}

h3 {
   font-size: 2.2rem;
   font-weight: bold;
}

h5 {
   font-size: 1.5rem;
}

p {
   line-height: 1.5;
   color: #aea9a4;
}

.container {
   max-width: 960px;
   margin: 0 auto;
   padding: 10px;
}

/*header e barra de navegacao*/
nav {
   display: flex;
   justify-content: space-between;
   align-items: center;
   flex-wrap: wrap;
}

.logo {
   display: block;
}

ul {
   text-align: right;
   display: flex;
   align-items: center;
   flex-wrap: wrap;
   justify-content: space-between;
   padding: 10px;
}

ul li {
   margin: 0 5px;
}

ul li a {
   color: #eee8e1;
   padding: 5px 10px;
   font-size: 12px;
}

ul li a:hover {
   color: #ef4040;
}

/*secao do hedaer o banner*/
.section-header {
   padding-top: 60px;
   padding-bottom: 60px;
   margin-top: 90px;
   margin-bottom: 80px;
   display: flex;
   align-items: center;
   justify-content: space-between;
}

.section-header-img {
   flex: 1 1 40%;
}

.section-header-2 {
   padding: 0 40px;
   flex: 1 1 60%;
}

.section-header-2 h4 {
   color: #ef4040;
   font-size: 1.5rem;
   letter-spacing: 0;
   font-style: normal;
   font-weight: bold;
}

.section-header-2 h1 {
   color: #ffff;
}

.btn {
   padding: 1rem 3rem;
   background: #ef4040;
   color: white;
   border: none;
   display: inline-block;
   vertical-align: middle;
   -webkit-transform: perspective(1px) translateZ(0);
   transform: perspective(1px) translateZ(0);
   box-shadow: 0 0 1px rgba(0, 0, 0, 0);
   -webkit-transition-duration: 0.3s;
   transition-duration: 0.3s;
   -webkit-transition-property: transform;
   transition-property: transform;


}

.btn:hover,
.btn:focus {
   -webkit-transform: scale(0.9);
   transform: scale(0.9);
   outline: none;
   background: #31070a;
   transition: 1s;
}

/*main*/

.back {
   background: #181818;
}


.card-section {
   max-width: 960px;
   margin: 0 auto;
}

.cartoes {
   margin-top: 60px;
   display: flex;
   align-items: center;
   justify-content: space-between;
}

.cartoes-div {
   margin: 10px;
   height: 300px;
   background: #1e1e1e;
   padding: 70px 40px;
   color: #eee8e1;

   -webkit-transform: perspective(1px) translateZ(0);
   transform: perspective(1px) translateZ(0);
   box-shadow: 0 0 1px rgba(0, 0, 0, 0);
   -webkit-transition-duration: 0.3s;
   transition-duration: 0.3s;
   -webkit-transition-property: transform;
   transition-property: transform;
   -webkit-transition-timing-function: ease-out;
   transition-timing-function: ease-out;
}

.cartoes-div:hover {
   -webkit-transform: translateY(-8px);
   transform: translateY(-8px);
   border-bottom: 5px solid white;
}

.cartoes-titulo {
   font-size: 1.125rem;
   text-transform: uppercase;
}

.cartao-link {
   color: #ef4040;
   font-size: 14px;
   font-weight: bold;
   margin-top: 50px;
   display: inline-block;
}

.card-meio-link {
   color: #ffedd3;
   font-size: 14px;
   font-weight: bold;
   margin-top: 50px;
   display: inline-block;
}

.card-meio-color {
   background: #ef4040;
   color: white;

}

/*numeros*/
.numbers {
   display: flex;
   justify-content: space-between;
   align-items: center;
   flex-wrap: wrap;
   margin: 60px 0;
}

.number-1 {
   flex: 1 1 33%;
   text-align: center;
   font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
   color: white;
}

.numbers-h1 {
   color: #ef4040;
   font-weight: bold;
   font-size: 5rem;
}



.number-2 {
   flex: 1 1 67%;

   display: flex;
   flex-wrap: wrap;

}

.number-2 div {
   flex: 1 1 250px;
   padding: 20px;
   text-align: center;
   color: #ef4040;

   box-shadow: 2px 5px 6px rgb(0, 0, .1);
   background: #1e1e1e;
   margin: 6px;
}

/*galleria*/
.galery-header {
   margin: 20px 0 0 0;
   display: flex;
   flex-wrap: wrap;
   justify-content: space-between;
   align-items: center;
   color: #eee8e1;
}

.galery {
   margin: 20px 0 60px 0;
   display: grid;
   grid-template-columns: 1fr 1fr;
   grid-template-rows: 1fr 1fr;
}

.galery div {
   background: #202020;
   margin: 10px;

   display: flex;
   align-items: top;
   justify-content: space-between;
}

.galery div div {
   text-align: center;
   display: block;
   padding: 30px;

}

.galery div div a {
   color: #ef4040;
}

.extra-card {
   max-width: 940px;
   margin: 0 auto;
   background: #1e1e1e;
   padding: 50px;
   color: #eee8e1;

   display: flex;
   justify-content: space-between;
   align-items: center;
}

.extra-card-item {
   flex: 1 1 60%;
}

.extra-card-item-2 {
   flex: 1 1 40%;
   text-align: center;
}


footer {
   margin-top: 30px;
   background: #202020;
}

.fooeter-links {
   display: flex;
   align-items: center;
   flex-wrap: wrap;
   justify-content: space-between;
   padding: 10px;
}

.copy {
   font-size: 12px;
}

@media(max-width: 800px) {
   .galery {
      grid-template-columns: 1fr;
      grid-row: 1fr 1fr 1fr;
   }
}

.menu-hamburger,
.menu-hamburger-aberto {
   display: none;
}


@media (max-width: 735px) {
   h1 {
      font-size: 2.6rem;
   }

   header {
      background: #202020;
   }


   .section-header {
      padding-top: 60px;
      padding-bottom: 60px;
      margin-top: 10px;
      margin-bottom: 10px;
   }

   .cartoes {
      grid-template-columns: 1fr 1fr;
      grid-row: 1fr;
   }

   .numbers {
      flex-direction: column;
   }

   .number-1 {
      order: 2;
   }

   .number-2 {
      order: 1;
   }

   .cartoes {
      margin-top: 60px;
      flex-direction: column;
   }

   .card-section {
      width: 100%;
   }

}


@media (max-width: 555px) {


   .section-header-img {
      display: none;
   }

   .section-header-2 {
      margin-top: 0;
      order: 1;
   }

   .section-header {
      align-items: top;
      padding-bottom: 60px;
   }

   .galery-header {
      flex-direction: column
   }

   .cartoes {
      grid-template-columns: 1fr;
      grid-row: 1fr;
      text-align: center;
   }

   .galery div {
      flex-wrap: wrap;
   }

   .galery img {
      width: 100%;
      cursor: pointer;
   }

   .extra-card {
      flex-direction: column;
   }

   .fooeter-links {
      flex-direction: column;
      text-align: center;
   }

   .extra-card {
      text-align: center;
   }

   ul li {
      margin: 5px;
   }
}

@media(max-width: 360px) {
   body {
      font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
      text-align: center;
      font-size: 12px;
   }

   h1 {
      font-size: 2rem;
   }

   h2 {
      font-size: 1.125rem;
   }

   a {
      font-size: 12px;
   }
}

/*======CONTRUCOES DE  RECURSOS DE JAVASCRIPT======*/
.modal-overlay {
   width: 100%;
   height: 100%;
   top: 0;
   position: fixed;
   z-index: 9999;
   /* opacity: 0;
   visibility: hidden; */
   backdrop-filter: blur(6px);


   display: flex;
   align-items: center;
   justify-content: center;
   flex-direction: column;
   opacity: 0;
   visibility: hidden;
}

.modal-overlay.ative {

   opacity: 1;
   visibility: visible;
   animation: modalshow .2s cubic-bezier(.25, .46, .45, .94) both
}

@keyframes modalshow {
   0% {
      transform: scale(0);
      opacity: 0;
   }

   100% {
      transform: scale(1);
      opacity: 1;
   }
}


.modal-box {
   max-width: 600px;
   width: 90%;
   padding: 30px 80px;
   border: 1px solid white;
   background: #1e1e1e;
   color: #ffffff;
   margin: 10px;


}

.modal-header {
   text-align: center;
}

.modal-header h3 {
   color: #ef4040;
}

.modal-header h3::after {
   content: '';
   display: table;
   background: #eee8e1;
   width: 70px;
   height: 2px;
   margin: 10px auto;
}

.modal-main {
   display: flex;
   flex-direction: column;
}

.form-control,
.form-control-l {
   width: 100%;
   margin: 10px auto;

   height: 40px;
   padding: 10px;
   border: none;
   outline: none;
}


.form-control:last-child {
   background: #ef4040;
   color: #eee8e1;
   font-style: italic;
   font-weight: bold;
}

.modal-new {
   display: flex;
   justify-content: space-between;
   max-width: 600px;
   width: 90%;
   position: relative;
   top: 2rem;
   left: 1rem;
}

.close {
   padding: 10px 30px;
   background: #ef4040;
   color: whitesmoke;
   position: relative;
   cursor: pointer;

}

@media(max-width:500px) {
   .modal-box {
      padding: 30px;
      margin: 10px;
   }
}

@media(max-width:350px) {
   .modal-box {
      padding: 30px 10px;
   }
}

/*PROJECT DAYLE***/
.dayle-div {
   text-align: center;
}

.dayle-services-div {
   margin: 60px 0;
   display: flex;
   align-items: flex-start;
   justify-content: space-between;
}

@media(max-width:600px) {
   .dayle-services-div {
      flex-direction: column;
   }

   .dayle-services-div-1 {
      width: 100%;
      flex-direction: none;
   }
}

.dayle-services-div-1 {
   flex: 1 1 40%;
   margin: 0 auto;

   flex-direction: column;
}

.dayle-services-div-1 li:first-child {
   color: #202020;
   background-color: #ef4040;
   cursor: default;
}

.dayle-services-div-1 li {
   background: #202020;
   width: 100%;
   text-align: center;
   padding: 10px;
   margin: 7px 0;
   color: grey;
   cursor: pointer;
}

.dayle-services-div-2 {
   flex: 1 1 60%;
   padding: 0 10px;
}

.dali-list {
   display: flex;
   align-items: flex-start;
   flex-direction: column;
   color: #eee8e1;
}